<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="compilation.RefactoringCompilerParticipant"
            id="compilation.RefactoringCompilerParticipant">
      </compilationParticipant>
      <compilationParticipant
            class="compilation.RefactoringCompilerParticipantAddProblem"
            id="compilation.CompilationParticipantAddProblem">
      </compilationParticipant>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.quickFixProcessors">
      <quickFixProcessor
            class="userinterface.RefactoringQuickFixProcessor"
            id="RefactoringQuickFixProcessor">
      </quickFixProcessor>
      <quickFixProcessor
            class="userinterface.UndoRefactoringQuickFixProcessor"
            id="UndoRefactoringQuickFixProcessor">
      </quickFixProcessor>
   </extension>
   <extension
         id="refactoringmarker"
         point="org.eclipse.core.resources.markers">
   </extension>
   <extension
         id="refactoringproblem"
         point="org.eclipse.core.resources.markers">
      <attribute
            name="refactoringproblem">
      </attribute>
      <persistent
            value="false">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="BeneFactor.refactoringmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="1"
            markerType="BeneFactor.refactoringproblem"
            name="refactoringproblemannotation"
            super="org.eclipse.ui.workbench.texteditor.warning">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="refactoringproblemannotation"
            icon="icons/refactoring.png">
      </specification>
   </extension>

</plugin>
